# Ignore everything
*

# But don't ignore directories, so we can recurse into them
!*/

# Don't ignore .gitignore
!.gitignore

# Don't ignore .hdl files
!*.hdl

# Don't ignore .py files
!*.py


# specific folders to ignore
projects/demo/

tools/