# Ignore everything
*

# But don't ignore directories, so we can recurse into them
!*/

# Don't ignore .gitignore
!.gitignore

# Don't ignore .hdl files
!*.hdl

# Don't ignore .py files
!*.py

# TBD Don't ignore .jack files, but do ignore project files...
# !*.jack


# specific folders to ignore
projects/demo/

tools/